body {
    font-family: 'Josefin Sans', sans-serif; 
    overflow: auto; 
    position: relative; 
}

.navbar {
    position: fixed;
    width: 100%; 
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.navbar-brand {
    color: blue;
    transition: color 0.3s; 
}

.navbar-brand:hover {
    color: #f8f9fa; 
}

.d-flex {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    margin-right: 20px; 
}

.btn-light {
    background-color: #ffffff; 
    color: #343a40; 
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    padding: 10px 20px; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn-light:hover {
    background-color: #e2e6ea; 
    color: #212529; 
}

.btn-light:focus {
    outline: none; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.todo-list-wrapper {
    padding-top: 60px; 
    position: relative; 
}

.top-bg {
    background-image: url('https://www.pbs.org/wnet/nature/files/2021/01/pexels-denis-linine-714258-1280x720.png');
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 400px; 
    position: relative; 
}

.top-bg::after {
    content: '';
    background: linear-gradient(to right, #b068b3, #4568DC); 
    height: 400px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    opacity: 0.8; 
}

.main-card {
    margin-top: -300px; 
    margin-bottom: 80px; 
    background-color: rgba(0, 0, 0, 0.9); 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 30px;
}

.header {
    padding: 10px; 
}

.header h1 {
    letter-spacing: 2px; 
    margin: 0 0 20px 0; 
    color: white; 
}

/* Login Form */
.login-form {
    background-color: rgba(16, 15, 15, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(223, 222, 222, 0.2); 
}

.login-form label {
    color: #333; 
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.login-form button {
    margin-top: 10px;
    background-color: #007bff; 
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0056b3; 
}

.task-card {
    height: 550px; 
}

.item-left {
    text-align: center;
    padding: 2px 12px 8px 12px; 
    float: left; 
    color: yellow; 
}

.item-right {
    font-size: 0.9rem; 
}

input {
    height: auto; 
    border: 1px solid #ced4da; 
    padding: 10px; 
    border-radius: 4px; 
    width: 100%; 
    box-sizing: border-box;
}

input:focus {
    outline: none; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

select {
    height: auto; 
    border: 1px solid #ced4da; 
    padding: 10px;
    border-radius: 4px;
    width: 100%; 
}

select:focus {
    outline: none; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.ngx-pagination {
    margin: 0 !important; 
    padding: 0 !important; 
    text-align: center; 
}

.text-white {
    color: white; 
}

.text-primary {
    color: #007bff; 
}

.text-primary:hover {
    text-decoration: underline; 
}

@media (max-width: 1200px) {
    .navbar-collapse {
        text-align: center; 
    }

    .todo-list-wrapper {
        margin-top: 70px; 
    }

    .header h1 {
        font-size: 1.5rem; 
    }

    .login-form {
        padding: 15px;
    }

    .main-card {
        margin-top: -200px; 
    }
}
